body {
    font-family: Arial;
    background: #111827;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 400px;
}

input {
    padding: 10px;
    width: 200px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#results {
    margin-top: 20px;
    text-align: left;
}